@import 'variables';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,#d8eded,#d1f0f0);
}

.toggle{
    color: $color2;
    border:none;
    background:transparent;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
}

.rotate{
    transform: rotate(90deg);
}

.sidebar-all{
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
}

.sidebar-active{
    transform: translateX(0);
}

.sidebar__header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size3;
    letter-spacing: 2px;
    max-width: 50%;
}

.coding{
    color:$color3;
    padding:0 10px;
}

.addict{
    color:$color2;
    padding: 0 10px;
}

.sidebar{
    background-color: $color5;
    max-width: 50%;
    height:100vh;
}

.sidebar__close{
    display: block;
    font-size:30px;
    color:$color6;
    background:transparent;
    border:none;
    padding:10px;
    cursor: pointer;
}

.sidebar__links{
    display: flex;
    flex-direction: column;
    padding: 10px;
    letter-spacing: 4px;
    height:auto;
    background-color: $color5;

    li{
        padding: 20px;
        list-style: none;
        
        a{
            text-decoration: none;
            font-size: $font-size2;
            color: $color3;
            display: block;
        }
    }
}

.sidebar__links li a:hover{
    background-color:$color2;
    width:fit-content;
}

 .sidebar__social-icons{
    margin-right: 10px;
    display: flex;
    list-style: none;
    position: absolute;
    margin:auto;
    bottom:10px;

    li{
        padding:20px;
        font-size: $font-size2;

        i{
            color:$color2;
        }
    }
}

.sidebar__social-icons a i:hover{
    color:$color4;
}

@media  screen and (max-width:600px) {
    .sidebar__social-icons{
        display: flex;
        flex-direction: column;
    }
}